@using WebAppAspNetMvcCodeFirst.Models
@model Teacher

<h3>Преподаватель</h3>

@using (Html.BeginForm("Create", "Teachers", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
    @Html.EditorForModel()

    <input type="submit" value="Сохранить" />
    @Html.ActionLink("Отменить", "Index", "Teachers")
}