@using WebAppAspNetMvcCodeFirst.Models
@model Teacher

<h3>Учитель</h3>

@using (Html.BeginForm("Edit", "Teachers", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
@Html.ValidationSummary()
@Html.EditorForModel()

<input type="submit" value="Сохранить" />
@Html.ActionLink("Отменить", "Index", "Teachers")
}