@using WebAppAspNetMvcCodeFirst.Models
@model Group

<h3>Группа</h3>

@using (Html.BeginForm("Create", "Groups", FormMethod.Post))
{
    @Html.EditorForModel()

    <input type="submit" value="Сохранить" />
    @Html.ActionLink("Отменить", "Index", "Groups")
}