@using WebAppAspNetMvcCodeFirst.Models
@model Lesson

<h3>Пара</h3>

@using (Html.BeginForm("Edit", "Lessons", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{
@Html.ValidationSummary()
@Html.EditorForModel()

<input type="submit" value="Сохранить" />
@Html.ActionLink("Отменить", "Index", "Lessons")
}